<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Collect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PureMVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB81A0471BDF548800D2405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB81A05F1BDF548800D2405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB81A06A1BDF548800D2405B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA142BF1BD780C2009CB26D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA142D71BD780C2009CB26D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA142E21BD780C2009CB26D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA4820F1BD49A7D00C61E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA482281BD49A7D00C61E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA482331BD49A7D00C61E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
